<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="test.css">
</head>
<body>
    <div class="w3-display-container test-class">

        <div class="w3-display-left w3-padding ">
            <i class="about-pointer" ng-click="showAboutPage()"></i>
            About
        </div>

        <div class="w3-display-middle w3-padding">
            <div class="ahti">Ahti</div>
            <div class="partio">Partio</div>
        </div>

        <div class="w3-display-right w3-padding">
            Contact
            <i class="contact-pointer" ng-click="showContactPage()"></i>
        </div>

        <div class="w3-display-bottommiddle w3-padding">
            <p class="gallery-text">Gallery</p>
            <i class="gallery-pointer" ng-click="showGalleryPage()"></i>
        </div>



    </div>
</body>
</html>